<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="huhu.dtos.mapper.bean3dtomapper">
       <implementation class="huhu.dtos.mapper.Bean3DtoMapper"/>
       <property name="dto" value="huhu.dtos.Bean3Dto"/>
       <property name="entity" value="huhu.Bean3"/>
       <property name="service.pid" value="huhu.dtos.mapper.bean3dtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
