<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="huhu.mapper.seconddtomapper">
       <implementation class="huhu.mapper.secondDtoMapper"/>
       <property name="dto" value="huhu.secondDto"/>
       <property name="entity" value="huhu.second"/>
       <property name="service.pid" value="huhu.mapper.seconddtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
