<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="huhu.mapper.bean2dtomapper">
       <implementation class="huhu.mapper.Bean2DtoMapper"/>
       <property name="dto" value="huhu.Bean2Dto"/>
       <property name="entity" value="huhu.Bean2"/>
       <property name="service.pid" value="huhu.mapper.bean2dtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
