<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="org.my.example.mapper.mychilddtomapper">
       <implementation class="org.my.example.mapper.MyChildDtoMapper"/>
       <property name="dto" value="org.my.example.MyChildDto"/>
       <property name="entity" value="org.my.example.MyChild"/>
       <property name="service.pid" value="org.my.example.mapper.mychilddtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
